<ion-header>
  <ion-toolbar>
    <ion-title>Chapter1 | The start</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Max is our rescue cat. We rescued him and he has rescued us from depression. He was a shy cat at the start, hiding under the bed until he trusted us. He even managed to escape outside and we had to tempt him with tuna to come back.
</p>
<p>That was the start of his love  of tuna. Over the years that has expanded to other foods including pork, chicken and shrimp.</p>
<ion-button color="secondary" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Table of Contents</ion-button>
<ion-button color="secondary" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter2']">Chapter 2</ion-button>
<ion-button color="secondary" expand="full" [routerDirection]="'root'" [routerLink]="['/home']">Home</ion-button>

</ion-content>
