<ion-header>
  <ion-toolbar>
    <ion-title>Chapter2 | Hunting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Max is a hunter. Mice and birds mostly. He even brought home a grouse one summer to stash in my closet. He also has terminated the squirrel population in the area. He's a thoughtful cat however, and leaves half a squirrel for his humans. Sometimes on the porch and other times at the foot of the bed.
  </p>
  <p>He spent one summer bringing live catches back and "trading" them for shrimp. He's very smart.</p>
  <ion-button color="secondary" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Table of Contents</ion-button>
  <ion-button color="secondary" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter1']">Chapter 1</ion-button>
  <ion-button color="secondary" expand="full" [routerDirection]="'root'" [routerLink]="['/home']">Home</ion-button>

</ion-content>
