<div id="container">
  <strong>{{ name }}</strong>
  <p>I FOUND the HOME Page explore-container.component.html Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
</div>
<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>Basics of a Smart Phone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>A quick guide to basic use</ion-card-subtitle>
      <ion-card-title>Icons</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Calls</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-content>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Apps</ion-card-title>
        </ion-card-header>
      </ion-card>
</ion-content>
